USE [BloodBankDB]
GO

/****** Object:  Table [dbo].[BloodStock]    Script Date: 10/19/2025 6:00:38 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BloodStock](
	[BloodGroup] [varchar](5) NOT NULL,
	[BStock] [int] NOT NULL
) ON [PRIMARY]
GO

INSERT [dbo].[BloodStock] ([BloodGroup], [BStock]) VALUES (N'A+', 3)
INSERT [dbo].[BloodStock] ([BloodGroup], [BStock]) VALUES (N'A-', 5)
INSERT [dbo].[BloodStock] ([BloodGroup], [BStock]) VALUES (N'B+', 1)
GO

SET ANSI_PADDING ON
GO

/****** Object:  Index [IX_BloodStock]    Script Date: 10/19/2025 6:00:38 PM ******/
ALTER TABLE [dbo].[BloodStock] ADD  CONSTRAINT [IX_BloodStock] UNIQUE NONCLUSTERED 
(
	[BloodGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
